<ng-scrollbar class="pwchange">

  <div id="pwchange-screen">
    <div class="header-content">
      <h4 class="title d-inline-block" placement="right" ngbTooltip="Tên người dùng.">HuynhDuyTan</h4>
    </div>

    <div class="body-content">
      <div class="body-content-row">
        <h5>Thay đổi mật khẩu</h5>
        <form [formGroup]="passwordForm" (ngSubmit)="changePasswordOnClick()">
          <div class="form-group" [ngClass]="{'has-error':!passwordForm.controls['oldPassword'].valid && passwordForm.controls['oldPassword'].touched}">
            <label>Mật khẩu hiện tại: </label>
            <input class="form-control" type="password" [formControl]="passwordForm.controls['oldPassword']">
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('required') && passwordForm.controls['oldPassword'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>
              Không được để trống.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].touched}">
            <label>Mật khẩu mới: </label>
            <input class="form-control" type="password" [formControl]="passwordForm.controls['newPassword']">
            <div *ngIf="passwordForm.controls['newPassword'].hasError('required') && passwordForm.controls['newPassword'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>
              Không được để trống.</div>
            <div *ngIf="passwordForm.controls['newPassword'].hasError('minLength') && passwordForm.controls['newPassword'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>
              Mật khẩu phải ít nhất 8 kí tự.</div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched}">
            <label>Nhập lại mật khẩu: </label>
            <input class="form-control" type="password" [formControl]="passwordForm.controls['confirmPassword']">
            <div *ngIf="passwordForm.controls['confirmPassword'].hasError('required') && passwordForm.controls['confirmPassword'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>
              Không được để trống.</div>
            <div *ngIf="passwordForm.controls['newPassword'].value !== passwordForm.controls['confirmPassword'].value || !passwordForm.controls['confirmPassword'].hasError('required') "
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>
              Mật khẩu không khớp.</div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success m-2" [disabled]="!passwordForm.valid" placement="top"
              ngbTooltip="Nhấn để lưu mật khẩu.">
              Lưu
            </button>

            <button class="btn btn-danger m-2" (click)="resetPwchangeFormOnClick()"
            placement="bottom" ngbTooltip="Nhập lại.">Đặt lại</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</ng-scrollbar>
