<ng-scrollbar class="course-info">
  <div class="row-header">
    <h3 class="title">
      Hệ điều hành
    </h3>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">

    <div class="body-content">
      <div class="info body-content-row">
        <h5>Thông tin môn</h5>

        <div class="info-content">
          <div class="col-12 col-md-8">
            <div class="row">
              <a>Giới thiệu môn học</a>
            </div>
            <div class="row">
              <a>Nhóm thảo luận</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>

      <div class="info body-content-row">
        <h5>Tài liệu</h5>

        <div class="info-content">
          <div class="col-12">
            <div class="row">
              <a>Bai1_Gioi_thieu_tong-quan.pdf</a>
            </div>
            <div class="row">
              <a>Bai2_Gioi_thieu_tong-quan.docx</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>

      <div class="info body-content-row">
        <h5>Khu vực nộp bài</h5>

        <div class="info-content">
          <div class="col-12">
            <div class="row">
              <a>Bài tập 1 - deadline 1-1-2020</a>
            </div>
            <div class="row">
              <a>Bài tập 2 - deadline 2-1-2020</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>
    </div>

  </div>

</ng-scrollbar>
