<div class="cards row">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-dark mb-3" [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active" >
      <div class="card-header">Quản lý khóa học</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-dark mb-3" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active" >
      <div class="card-header">Thông báo
          <span class="badge badge-pill badge-primary">3</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-dark mb-3" [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active" >
      <div class="card-header">Thông tin cá nhân</div>
      <div class="card-body">
        <h5 class="card-title">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
    
</div>

