<div class="cards row">
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-transparent text-dark mb-3" [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">
      <div class="card-body">
      </div>
      <div class="card-header">Quản lý khóa học</div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-transparent text-dark mb-3" [routerLink]="['/dashboard/general-notification']"
      routerLinkActive="router-link-active">
      <div class="card-body">
      </div>
      <div class="card-header">Thông báo chung
        <span class="badge badge-pill badge-warning">3</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-transparent text-dark mb-3" [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active">
      <div class="card-body">
      </div>
      <div class="card-header">Thông tin cá nhân</div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="card text-white bg-transparent text-dark mb-3">
      <div class="card-body">
      </div>
      <div class="card-header">Quy định và điều khoản sử dụng</div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <a class="card text-white bg-transparent text-dark mb-3" href="drive.google.com/open?id=1I9yzZQEE4l0cyd7D-LSXjfYH3v2kzSSKvxBedZUqNLk/">
      <div class="card-body">
      </div>
      <div class="card-header">Hướng dẫn sử dụng</div>
    </a>
  </div>

</div>
