<div class="container">
  <!-- Content
    ============================================= -->
  <section id="content">

    <div class="mt-4 mb-4">

      <div class="row">

        <!-- Postcontent
          ============================================= -->
        <div class="col-12 col-md-8 pt-4">
          <!-- https://developers.google.com/maps/documentation/embed/start -->
          <iframe src="https://www.google.com/maps/embed/v1/directions?origin=my+location&destination=227+nguyễn+văn+cừ&key=AIzaSyCmNkp4LnZ7-TlbFelCGKr526gJiMZORr0"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div><!-- .postcontent end -->

        <!-- Sidebar
          ============================================= -->
        <div class="col-12 col-md-4 p-4">
          <div class="contact-info">
            <ul>
              <li>
                  <i class="fa fa-map-marker"></i>
                <span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP.Hồ chí minh, Việt Nam</span>
              </li>
              <li>
                  <i class="fa fa-phone"></i>
                <span title="Phone Number"> Phone:</span> (84) 334 977 11
              </li>
              <li>
                  <i class="fa fa-envelope"></i>
                <span title="Email Address"> Email:</span> thi174hcmus@gmail.com
              </li>
            </ul>

            <div class="widget noborder notoppadding">
              <a href="#" class="social-icon si-small si-dark si-facebook float-none d-inline-block">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-dark si-gplus float-none d-inline-block">
                <i class="icon-gplus"></i>
                <i class="icon-gplus"></i>
              </a>
            </div>
          </div>


        </div><!-- .sidebar end -->

      </div>

    </div>

  </section><!-- #content end -->

</div>
