<ng-scrollbar class="course-enroll">
  <div class="row-header">
    <h3 class="title">
      Ghi danh khóa học
    </h3>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">

    <div class="body-content">
      <div class="info body-content-row">
        <h5>{{courseInfo.CourseName}}</h5>

        <div class="info-content row">
          <div class="col-12">
            <div class="row">
              <span class="value">Giáo viên: Nguyễn Đình Thúc</span>
            </div>
            <div class="row">
              <span class="value">Giáo viên: Thái Hùng Văn</span>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button type="button" class="btn btn-outline-primary" (click)="enrollCourseOnClick()">Ghi danh</button>
        </div>
      </div>

      <div class="dot-line"></div>
    </div>

  </div>

</ng-scrollbar>
