<div id="forgot-password-screen">
  <div class="container-forgot-password">
    <div class="wrap-forgot-password">
      <div class="forgot-password-title">
        QUÊN MẬT KHẨU
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordOnClick()">
        <div class="form-group mb-5" [ngClass]="{'has-error':!forgotPasswordForm.controls['username'].valid 
              && forgotPasswordForm.controls['username'].touched}">
          <input class="form-control" type="text" [formControl]="forgotPasswordForm.controls['username']" placeholder="Tên đăng nhập"
            placement="top" ngbTooltip="Nhập tên đăng nhập.">
          <div *ngIf="forgotPasswordForm.controls['username'].hasError('required') && forgotPasswordForm.controls['username'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Tên đăng nhập không được để trống.</div>
        </div>

        <div class="form-group mb-5" [ngClass]="{'has-error':!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched}">
          <input class="form-control" type="emailks" placeholder="Email" [formControl]="forgotPasswordForm.controls['email']"
            placement="top" ngbTooltip="Nhập email.">
          <div *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Chưa nhập email.</div>
          <div *ngIf="forgotPasswordForm.controls['email'].hasError('email') && forgotPasswordForm.controls['email'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Địa chỉ email không hợp lệ.</div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" [disabled]="!forgotPasswordForm.valid">
            KHÔI PHỤC MẬT KHẨU
          </button>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-success btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active">
            ĐĂNG NHẬP
          </button>
        </div>

        <div class="text-center mt-3 pt-3">
          <p>Chưa có tài khoản?</p>
          <a class="text-link" [routerLink]="['/register']" routerLinkActive="router-link-active">ĐĂNG KÝ NGAY</a>
        </div>
      </form>
    </div>
  </div>
</div>
