<div id="scoreboard-list-screen">
  <div class="header-content">
    <h4 class="title d-inline-block">Quản lý thu chi</h4>
  </div>
  <div class="body-content mt-3">
    <h5>Quản lý học phí</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã học sinh</th>
          <th scope="col">Tên học sinh</th>
          <th scope="col">Học phí</th>
          <th scope="col">Năm học/Học kỳ</th>
          <th scope="col">Còn nợ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
