<ng-scrollbar class="settings">
  <div class="row-header">
    <h3 class="title">
      Tùy chọn
    </h3>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">

    <div class="body-content mt-3">
      <a [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active">Chỉnh sửa thông tin các nhân</a>
    </div>
    <div class="body-content mt-3">
      <a [routerLink]="['/dashboard/changepassword']" routerLinkActive="router-link-active">Đổi mật khẩu</a>
    </div>
    <div class="body-content mt-3">
      <a tabindex>Quy định và điều khoản</a>
    </div>
    <div class="body-content mt-3">
      <a href="https://drive.google.com/open?id=1I9yzZQEE4l0cyd7D-LSXjfYH3v2kzSSKvxBedZUqNLk">Xem hướng dẫn</a>
    </div>
    <div class="body-content mt-3">
      <a tabindex (click)="logOutOnClick()">Đăng xuất</a>
    </div>

    <div class="dot-line"></div>

  </div>

</ng-scrollbar>
