<div id="scoreboard-list-screen">
  <div class="header-content">
    <h4 class="title d-inline-block">Tùy chọn</h4>
  </div>
  <div class="body-content mt-3">
    <a [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active">Chỉnh sửa thông tin các nhân</a>
  </div>
  <div class="body-content mt-3">
    <a [routerLink]="['/dashboard/changepassword']" routerLinkActive="router-link-active">Đổi mật khẩu</a>
  </div>
  <div class="body-content mt-3">
    <a>quy định và điều khoản</a>
  </div>
  <div class="body-content mt-3">
    <a href="https://drive.google.com/open?id=1I9yzZQEE4l0cyd7D-LSXjfYH3v2kzSSKvxBedZUqNLk">Xem hướng dẫn</a>
  </div>
  <div class="body-content mt-3">
    <a>Đăng xuất</a>
  </div>
</div>
