<div class="teacher-list">
  <div class="searcher-header">
    <div class="form-group row">
      <label for="inputKeyword" class="col-12 col-sm-6 col-md-4 col-lg-2 col-form-label">Tìm kiếm giáo viên: </label>
      <div class="col-12 col-sm-6 col-md-8 col-lg-10">
        <input type="text" [(ngModel)]="searchKeyword" (keyup.enter)="searchOnclick()" class="form-control" id="inputKeyword"
          placeholder="Nhập mã số | tên giáo viên">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="searchOnclick()">Tìm kiếm</button>
    </div>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">
    <h2 class="default-color p-2">Danh sách giáo viên</h2>
    <table class="table">
      <thead class="default-color text-center">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã số</th>
          <th scope="col">Họ tên</th>
          <!-- <th class="text-center" scope="col">Nợ học phí</th> -->
          <th class="text-center" scope="col">Danh sách lớp học</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of teacherList; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td (click)="userInfoOnClick(item.UserId)">{{item.IdentificationCode}}</td>
          <td (click)="userInfoOnClick(item.UserId)">{{item.UserFullName}}</td>
          <!-- <td class="text-center">{{item.TotalinDebt ? item.TotalinDebt : 0|number:'0.0-0'}}</td> -->
          <td class="text-center">
            <span class="text-link" (click)="listCourseOnClick(item.UserId)">Xem</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!teacherList || teacherList.length == 0" class="text-center p-3">
      Không có dữ liệu!
    </div>
  </div>
</div>
