.tutition-fee {
  border: 1px dashed #63a4cfdb;
  padding: 10px;
  border-radius: 10px;
}

.dot-line {
  background: url('../../../../assets/img/dot.png') left top repeat-x;
  height: 30px;
}
td:not(.text-center) {
  color: #943b21;
  cursor: pointer;
}
