<ng-scrollbar class="profile">

  <div id="profile-screen" class="container">
    <div class="header-content">
      <h4 class="title d-inline-block" placement="right" ngbTooltip="Tên người dùng.">{{UserLogin.UserName}}</h4>
    </div>

    <div class="body-content">
      <div class="avatar body-content-row">
        <h5>Ảnh đại diện</h5>

        <div class="position-relative text-center pb-3">
          <img [src]="data.image ? data.image : defaultAvatar" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"
            data-toggle="modal" data-target="#avatarEditterModalCenter" placement="top" ngbTooltip="Nhấn để cập nhật ảnh đại diện.">

        </div>

      </div>
      <div class="info body-content-row">
        <h5>Quản lý Thông tin cá nhân</h5>
        <form [formGroup]="infoForm" (ngSubmit)="changeInfoOnClick()">
          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['name'].valid && infoForm.controls['name'].touched}">
            <label>Họ tên đầy đủ: </label>
            <input class="form-control" type="text" [(ngModel)]="userInfo.UserFullName" placeholder="Nguyễn Văn A" [formControl]="infoForm.controls['name']"
              placement="top" ngbTooltip="Nhập họ tên của bạn.">
            <div *ngIf="infoForm.controls['name'].hasError('required') && infoForm.controls['name'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa\nhập họ tên.</div>
            <div *ngIf="infoForm.controls['name'].hasError('minlength') && infoForm.controls['name'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá ngắn.</div>
            <div *ngIf="infoForm.controls['name'].hasError('maxlength') && infoForm.controls['name'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá dài.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['id'].valid && infoForm.controls['id'].touched}">
            <label>Mã số: </label>
            <input class="form-control" type="text" [(ngModel)]="userInfo.IdentificationCode" placeholder="1612000" [formControl]="infoForm.controls['id']"
              placement="top" ngbTooltip="Nhập mã số của bạn.">
            <div *ngIf="infoForm.controls['id'].hasError('required') && infoForm.controls['id'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập mã số.</div>
            <div *ngIf="infoForm.controls['id'].hasError('minlength') && infoForm.controls['id'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Mã số chứa ít nhất 7 chữ số.</div>
            <div *ngIf="infoForm.controls['id'].hasError('maxlength') && infoForm.controls['id'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Mã số chứa tối đa 8 chữ số.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['birthday'].valid && infoForm.controls['birthday'].touched}">
            <label>Ngày sinh: </label>
            <div class="input-group" placement="top" ngbTooltip="Chọn ngày sinh.">
              <input class="form-control" [(ngModel)]="ngDateOfBirth"
              placeholder="yyyy-mm-dd" [formControl]="infoForm.controls['birthday']" name="dp"
                ngbDatepicker #d="ngbDatepicker" (ngModelChange)="dateChanged($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
            <div *ngIf="infoForm.controls['birthday'].hasError('required') && infoForm.controls['birthday'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chọn ngày sinh.</div>
          </div>

          <div class="form-group">
            <label>Giới tính: </label>
            <div class="row" placement="top" ngbTooltip="Chọn giới tính.">
              <div class="radio col-4">
                <label>
                  <input type="radio" name="gender" [checked]="userInfo.UserGender == 1" (change)="userInfo.UserGender = 1">
                  Nam
                </label>
              </div>
              <div class="radio col-4">
                <label>
                  <input type="radio" name="gender" [checked]="userInfo.UserGender == 2" (change)="userInfo.UserGender = 2">
                  Nữ
                </label>
              </div>
              <div class="radio col-4">
                <label>
                  <input type="radio" name="gender" [checked]="userInfo.UserGender !== 1 && userInfo.UserGender !== 2" (change)="userInfo.UserGender = 3">
                  Khác
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['phone'].valid && infoForm.controls['phone'].touched}">
            <label>Số điện thoại: </label>
            <input class="form-control" type="tel" [(ngModel)]="userInfo.UserMobile" placeholder="0987654321" [formControl]="infoForm.controls['phone']"
              placement="top" ngbTooltip="Nhập số điện thoại.">
            <div *ngIf="infoForm.controls['phone'].hasError('required') && infoForm.controls['phone'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập số điện thoại.
            </div>
            <div *ngIf="infoForm.controls['phone'].hasError('minlength') && !infoForm.controls['phone'].hasError('pattern') && infoForm.controls['phone'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Số điện thoại không hợp lệ.
            </div>
            <div *ngIf="infoForm.controls['phone'].hasError('maxlength') && !infoForm.controls['phone'].hasError('pattern') && infoForm.controls['phone'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Số điện thoại không hợp lệ.
            </div>
            <div *ngIf="infoForm.controls['phone'].hasError('pattern') && infoForm.controls['phone'].touched" class="alerttext-danger">
              <i class="fa fa-exclamation-triangle"></i>Số điện thoại không hợp lệ.
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['email'].valid && infoForm.controls['email'].touched}">
            <label>Email: </label>
            <input class="form-control" type="email" [(ngModel)]="userInfo.UserEmail" placeholder="example@example.com"
              [formControl]="infoForm.controls['email']" placement="top" ngbTooltip="Nhập email.">
            <div *ngIf="infoForm.controls['email'].hasError('required') && infoForm.controls['email'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập email.
            </div>
            <div *ngIf="infoForm.controls['email'].hasError('email') && infoForm.controls['email'].touched" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Địa chỉ email không hợp lệ.
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!infoForm.controls['address'].valid && infoForm.controls['address'].touched}">
            <label>Địa chỉ: </label>
            <input class="form-control" type="text" [(ngModel)]="userInfo.UserAddress" placeholder="227 Nguyễn Văn Cừ, phương 4, quận 5, TP.HCM"
              [formControl]="infoForm.controls['address']" placement="top" ngbTooltip="Nhập địa chỉ.">
            <div *ngIf="infoForm.controls['address'].hasError('required') && infoForm.controls['address'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập địa chỉ.
            </div>
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-success m-2" [disabled]="!infoForm.valid" placement="bottom"
              ngbTooltip="Nhấn để lưu.">
              Lưu
            </button>

            <button type="reset" class="btn btn-danger m-2" (click)="resetInfoFormOnClick()" placement="top" ngbTooltip="Nhập lại.">
              Đặt lại
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>

</ng-scrollbar>

<!-- Modal -->
<div class="modal fade" id="avatarEditterModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="avatarEditterModalCenterTitle">Tải ảnh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &times; </button>
      </div>
      <div class="modal-body">
        <img-cropper [image]="data" [settings]="cropperSettings" placement="top" ngbTooltip="Nhấn tải lên để cập nhật ảnh đại diện."></img-cropper><br>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetAvatarOnClick()">Hủy</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Lưu</button>
      </div>
    </div>
  </div>
</div>
