.profile {
  margin-top: 10px;
}

#profile-screen .header-content {
  border-bottom: 1px solid #ccc;
}

#profile-screen .body-content .body-content-row {
  margin: 10px 0;
  border-bottom: 1px dashed #ccc;
}
