<div id="notification-list-screen">
  <div class="header-content">
    <h4 class="title d-inline-block">{{title}}</h4>
    <a class="float-right" (click)="onClickSearchIcon()">
      <i class="fa fa-search pr-3"></i>
    </a>
    <input type="text" name="" class="float-right">
  </div>
  <div class="body-content mt-3">
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 1</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2 text-right">
        <button *ngIf="true" type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
        <span class="float-right" *ngIf="false">Đã xem</span>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 2</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button *ngIf="false" type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
        <span *ngIf="true" class="float-right">Đã xem</span>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 3</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button *ngIf="true" type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
        <span *ngIf="false" class="float-right">Đã xem</span>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 4</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button *ngIf="true" type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
        <span *ngIf="false" class="float-right">Đã xem</span>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 5</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 6</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 7</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 7</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
      </div>
    </div>
    <div class="item row">
      <div class="col-10">
        <h5 class="course-title" [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-address-book"></i>
          <a> Thông báo 8</a>
        </h5>
        <p class="teacher-name">Giáo viên: Phạm Tuấn Sơn</p>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-light float-right" [routerLink]="['/dashboard/notification']"
          routerLinkActive="router-link-active">Xem</button>
      </div>
    </div>
  </div>
</div>
