<div class="page-wrapper chiller-theme sidebar-bg bg1" [ngClass]="{'toggled': !isMobile}">

  <!-- sidebar-wrapper  -->
  <nav id="sidebar" class="sidebar-wrapper">
    <ng-scrollbar class="sidebar-content">
      <div class="sidebar-brand">
        <a>Quản lý lớp học</a>
        <div id="close-sidebar">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" [src]="UserLogin && UserLogin.UserAvatar ? UserLogin.UserAvatar : defaultAvatar"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name" style="cursor: pointer;" [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active">
            <strong> {{UserLogin.UserName}}</strong>
          </span>
          <span class="user-role">{{userTypeName}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <!-- sidebar-header  -->
      <div class="sidebar-search">
      </div>
      <!-- END sidebar-header  -->

      <!-- sidebar-menu  -->
      <div class="sidebar-menu">

        <ul>
          <li class="not-contain-dropdown">
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
              <i class="fa fa-align-justify"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-bell"></i>
              <span>Thông báo</span>
              <span class="badge badge-pill badge-primary">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/dashboard/courses-notification']" routerLinkActive="router-link-active">
                    Thông báo khóa học
                  </a>
                  <a [routerLink]="['/dashboard/general-notification']" routerLinkActive="router-link-active">
                    Thông báo chung
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-address-book"></i>
              <span>Khóa học</span>
              <span class="badge badge-pill badge-danger">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul *ngIf="UserLogin.UserType !== 3">
                <li class="text-center p-2"><i>(Không có quyền truy cập)</i></li>
              </ul>
              <ul *ngIf="UserLogin.UserType === 3">
                <li>
                  <a [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">Danh sách khóa học</a>
                </li>
                <li>
                  <a [routerLink]="['/dashboard/my-courses']" routerLinkActive="router-link-active">Khóa học của bạn</a>
                </li>
                <li>
                  <a [routerLink]="['/dashboard/scoreboard']" routerLinkActive="router-link-active">Xem điểm</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-graduation-cap"></i>
              <span>Dành cho phụ huynh</span>
            </a>
            <div class="sidebar-submenu">
              <ul *ngIf="UserLogin.UserType !== 4">
                <li class="text-center p-2"><i>(Không có quyền truy cập)</i></li>
              </ul>
              <ul *ngIf="UserLogin.UserType === 4">
                <li>
                  <a [routerLink]="['/dashboard/course-students']" routerLinkActive="router-link-active">
                    Xem danh sách môn học đã tham gia
                  </a>
                  <a [routerLink]="['/dashboard/scoreboard']" routerLinkActive="router-link-active">
                    Xem kết quả học tập
                  </a>
                  <a [routerLink]="['/dashboard/tutition']" routerLinkActive="router-link-active">
                    Xem nợ học phí
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-graduation-cap"></i>
              <span>Dành cho giáo viên</span>
            </a>
            <div class="sidebar-submenu">
              <ul *ngIf="UserLogin.UserType !== 2">
                <li class="text-center p-2"><i>(Không có quyền truy cập)</i></li>
              </ul>
              <ul *ngIf="UserLogin.UserType === 2">
                <li>
                  <a [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">
                    Tất cả khóa học
                  </a>
                  <a [routerLink]="['/dashboard/course-teacher']" routerLinkActive="router-link-active">
                    Khóa học đang quản lý
                  </a>
                  <a [routerLink]="['/dashboard/students']" routerLinkActive="router-link-active">
                    Danh sách học sinh
                  </a>
                  <a [routerLink]="['/dashboard/parents']" routerLinkActive="router-link-active">
                    Danh sách phụ huynh
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-graduation-cap"></i>
              <span>Dành cho quản lý</span>
            </a>
            <div class="sidebar-submenu">
              <ul *ngIf="UserLogin.UserType !== 1">
                <li class="text-center p-2"><i>(Không có quyền truy cập)</i></li>
              </ul>
              <ul *ngIf="UserLogin.UserType === 1">
                <li>
                  <a [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">
                    Danh sách khóa học
                  </a>
                  <a [routerLink]="['/dashboard/teachers']" routerLinkActive="router-link-active">
                    Danh sách giáo viên
                  </a>
                  <a [routerLink]="['/dashboard/students']" routerLinkActive="router-link-active">
                    Danh sách học sinh
                  </a>
                  <a [routerLink]="['/dashboard/parents']" routerLinkActive="router-link-active">
                    Danh sách phụ huynh
                  </a>
                  <a [routerLink]="['/dashboard/income']" routerLinkActive="router-link-active">
                    Quản lý thu chi
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-cogs"></i>
              <span>Tùy chọn</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active">
                    Thông tin cá nhân
                  </a>
                  <a *ngIf="UserLogin.UserType === 3" [routerLink]="['/dashboard/tutition']" routerLinkActive="router-link-active">
                    Kiểm tra học phí
                  </a>
                  <a [routerLink]="['/dashboard/changepassword']" routerLinkActive="router-link-active">
                    Đổi mật khẩu
                  </a>
                  <a [routerLink]="['/dashboard/settings']" routerLinkActive="router-link-active">
                    Cài đặt khác
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="not-contain-dropdown">
            <a [routerLink]="['/dashboard/contact']" routerLinkActive="router-link-active">
              <i class="fa fa-address-card"></i>
              <span>Liên hệ</span>
            </a>
          </li>
          <li class="not-contain-dropdown">
            <a (click)="logOutOnClick()">
              <i class="fa fa-lock"></i>
              <span>Đăng xuất</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- END sidebar-menu  -->
    </ng-scrollbar>
  </nav>
  <!-- END sidebar-wrapper  -->


  <!-- page-content -->
  <main class="page-content">
    <div class="position-fixed" [ngClass]="{'bg-overlay': isLoading}" style="
      height: 40px;
      width: calc(100% + 40px);
      z-index: 2;
      margin-left: -40px;
      background-color: #fff;">
      <a id="show-sidebar" class="btn btn-sm">
        <i class="fa fa-bars"></i>
      </a>

      <ul class="nav fixed-top">
        <li class="nav-item">
          <a class="nav-link text-link active" href="https://github.com/Software-Engineering-Project-2018/courses-management-system">
            <i class="fa fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link" [routerLink]="['/dashboard/general-notification']" routerLinkActive="router-link-active"><i
              class="fa fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link"><i class="fa fa-comments"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-link" (click)="logOutOnClick()" tabindex><i class="fa fa-power-off"></i></a>
        </li>
      </ul>

    </div>
    <div class="container-fluid mt-5">
      <div class="header-breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a></li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
          </ol>
        </nav>
      </div>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <!-- END page-content -->

  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://quanlylophoc.tk/">quanlylophoc.tk</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</div>
