<div class="page-wrapper chiller-theme sidebar-bg bg1 toggled">

  <!-- sidebar-wrapper  -->
  <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>BRANCH</a>
        <div id="close-sidebar">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="../../../assets/user.jpg" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">John
            <strong>Cena</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>

      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- END sidebar-header  -->

      <!-- sidebar-menu  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-columns"></i>
              <span>Dashboard</span>
              <span class="badge badge-pill badge-danger">New</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard 1
                    <span class="badge badge-pill badge-success">Pro</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard 2
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard 3
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-shopping-cart"></i>
              <span>Notifications</span>
              <span class="badge badge-pill badge-primary">3</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active" >abc

                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-address-book"></i>
              <span>Courses</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">
                  <a>Pie chart</a>
                </li>
                <li>
                  <a [routerLink]="['/dashboard/courses']" routerLinkActive="router-link-active">Line chart</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-menu">
            <span>Extra</span>
          </li>
          <li class="not-contain-dropdown">
            <a [routerLink]="['/dashboard/settings']" routerLinkActive="router-link-active">
              <i class="fa fa-wrench"></i>
              <span>Setting</span>
            </a>
          </li>
          <li class="not-contain-dropdown">
            <a [routerLink]="['/dashboard/contact']" routerLinkActive="router-link-active">
              <i class="fa fa-address-card"></i>
              <span>Contact</span>
            </a>
          </li>
          <li class="not-contain-dropdown">
            <a href="#">
              <i class="fa fa-lock"></i>
              <span>Sign out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- END sidebar-menu  -->
    </div>

    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <div class="dropdown">
        <a [routerLink]="['/dashboard/notification']" routerLinkActive="router-link-active">
          <i class="fa fa-bell"></i>
          <span class="badge badge-pill badge-warning notification">3</span>
        </a>
      </div>
      <div class="dropdown">
        <a>
          <i class="fa fa-envelope"></i>
          <span class="badge badge-pill badge-success notification">7</span>
        </a>
      </div>
      <div class="dropdown">
        <a [routerLink]="['/dashboard/settings']" routerLinkActive="router-link-active" >
          <i class="fa fa-cog"></i>
          <span class="badge-sonar"></span>
        </a>
      </div>
      <div>
        <a href="#">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>

    <!-- ENDsidebar-content  -->

  </nav>
  <!-- END sidebar-wrapper  -->


  <!-- page-content -->
  <main class="page-content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <!-- END page-content -->

</div>
