<ng-scrollbar class="user-info">
  <div class="row-header">
    <h3 class="title">
      {{userInfo.UserFullName}}
    </h3>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">

    <div class="body-content">
      <div class="info body-content-row">
        <div class="position-relative text-center pb-3 col-12">
          <img [src]="defaultAvatar" data-toggle="modal" data-target="#avatarModalCenter" placement="top" ngbTooltip="Nhấn để xem ảnh đại diện.">
        </div>

        <div class="dot-line"></div>

        <h5>Thông tin cá nhân</h5>

        <div class="info-content">
          <div class="col-12 col-md-8">
            <div *ngIf="userInfo.UserType === 2">
              <label>Mã giáo viên: </label>
              <span class="value"> {{userInfo.IdentificationCode ? userInfo.IdentificationCode :
                'Chưa cập nhật.'}}</span>
            </div>
            <div *ngIf="userInfo.UserType === 3">
              <label>Mã học sinh: </label>
              <span class="value"> {{userInfo.IdentificationCode ? userInfo.IdentificationCode :
                'Chưa cập nhật.'}}</span>
            </div>
            <div>
              <label>Ngày sinh: </label>
              <span class="value"> {{userInfo.UserDob ? (userInfo.UserDob|date:'dd/MM/yyyy') : 'Chưa cập nhật.'}}</span>
            </div>
            <div>
              <label>Giới tính: </label>
              <span class="value" *ngIf="userInfo.UserGender === 1"> Nam</span>
              <span class="value" *ngIf="userInfo.UserGender === 2"> Nữ</span>
              <span class="value" *ngIf="userInfo.UserGender !== 1 && userInfo.UserGender !== 2"> Khác</span>
            </div>
            <div>
              <label>Số điện thoại: </label>
              <span class="value"> {{userInfo.UserMobile ? userInfo.UserMobile :
                'Chưa cập nhật.'}}</span>
            </div>
            <div>
              <label>Email: </label>
              <span class="value"> {{userInfo.UserEmail ? userInfo.UserEmail :
                'Chưa cập nhật.'}}</span>
            </div>
            <div>
              <label>Đĩa chỉ: </label>
              <span class="value"> {{userInfo.UserAddress ? userInfo.UserAddress :
                'Chưa cập nhật.'}}</span>
            </div>
          </div>
        </div>
        <div class="dot-line"></div>
      </div>


      <div class="info body-content-row" *ngIf="userInfo.UserType === 3">
        <h5>Các khóa học đã tham gia</h5>

        <div class="info-content">
          <div class="col-12">
            <div *ngIf="!courseList || courseList.length === 0">
              Học sinh chưa tham gia khóa học nào.
            </div>
            <div *ngFor="let item of courseList">
              <a class="value text-link" (click)="courseInfoOnClick(item.CourseId)">{{item.CourseName}}</a>
            </div>
          </div>
        </div>
        <div class="dot-line"></div>
      </div>


      <div class="info body-content-row" *ngIf="userInfo.UserType === 3">
        <h5>Danh sách phụ huynh / người đỡ đầu</h5>

        <div class="info-content">
          <div class="col-12">
            <div *ngIf="!courseList || courseList.length === 0">
              Không có bất kì tài khoản phụ huynh nào liên kết với học sinh.
            </div>
            <div *ngFor="let item of parentList">
              <a class="value text-link" (click)="parentInfoOnClick(item.UserId)">{{item.UserFullName}}</a>
            </div>
          </div>
        </div>
        <div class="dot-line"></div>
      </div>


      <div class="info body-content-row" *ngIf="userInfo.UserType === 2">
        <h5>Các khóa học đang quản lý</h5>

        <div class="info-content">
          <div class="col-12">
            <div *ngIf="!courseList || courseList.length === 0">
              Giáo viên tham gia quản lý khóa học nào.
            </div>
            <div *ngFor="let item of courseList">
              <a class="value text-link" (click)="courseInfoOnClick(item.CourseId)">{{item.CourseName}}</a>
            </div>
          </div>
        </div>
        <div class="dot-line"></div>
      </div>


      <div class="info body-content-row" *ngIf="userInfo.UserType === 4">
        <h5>Thông tin con của bạn: </h5>

        <div class="info-content">
          <div class="col-12">
            <div *ngIf="!courseList || courseList.length === 0">
              Phụ huynh chưa cập nhật thông tin con cái.
            </div>
            <div *ngFor="let item of childrenList">
              <a class="value text-link" (click)="studentInfoOnClick(item.UserId)">{{item.UserFullName}}</a>
            </div>
          </div>
        </div>
        <div class="dot-line"></div>
      </div>

    </div>

  </div>

</ng-scrollbar>

<!-- Modal -->
<div class="modal fade" id="avatarModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &times; </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img [src]="userInfo.UserAvatar ? userInfo.UserAvatar : defaultAvatar" alt="">
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
