<ng-scrollbar class="course-info">
  <div class="row-header">
    <h3 class="title">
      {{userInfo.UserName}}
    </h3>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">

    <div class="body-content">
      <div class="info body-content-row">
        <h5>Thông tin cá nhân</h5>

        <div class="info-content">
          <div class="position-relative pb-3 col-12 col-md-4">
            <img [src]="defaultAvatar" data-toggle="modal" data-target="#avatarModalCenter" placement="top" ngbTooltip="Nhấn để xem ảnh đại diện.">
          </div>
          <div class="col-12 col-md-8">
            <div class="row" *ngIf="userInfo.UserType === 2">
              <label>Mã giáo viên: </label>
              <span class="value">{{userInfo.IdentificationCode}}</span>
            </div>
            <div class="row" *ngIf="userInfo.UserType === 3">
              <label>Mã học sinh: </label>
              <span class="value">{{userInfo.IdentificationCode}}</span>
            </div>
            <div class="row">
              <label>Ngày sinh: </label>
              <span class="value">{{userInfo.UserDob|date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="row">
              <label>Giới tính: </label>
              <span class="value" *ngIf="userInfo.UserGender === 1">Nam</span>
              <span class="value" *ngIf="userInfo.UserGender === 2">Nữ</span>
              <span class="value" *ngIf="userInfo.UserGender !== 1 && userInfo.UserGender !== 2">Khác</span>
            </div>
            <div class="row">
              <label>Số điện thoại: </label>
              <span class="value">{{userInfo.UserMobile}}</span>
            </div>
            <div class="row">
              <label>Email: </label>
              <span class="value">{{userInfo.UserEmail}}</span>
            </div>
            <div class="row">
              <label>Đĩa chỉ: </label>
              <span class="value">{{userInfo.UserAddress}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>
      <h5></h5>

      <div class="info body-content-row">
        <h5>Các khóa học đã tham gia</h5>

        <div class="info-content">
          <div class="col-12">
            <div class="row">
              <span class="value">Hệ điều hành - CQ2016/1</span>
            </div>
            <div class="row">
              <span class="value">Nhập môn công nghệ phần mềm - CQ2016/1</span>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>

      <div class="info body-content-row">
        <h5>Danh sách phụ huynh</h5>

        <div class="info-content">
          <div class="col-12">
            <div class="row">
              <span class="value">Nguyễn văn A</span>
            </div>
            <div class="row">
              <span class="value">Nguyễn thị B</span>
            </div>
          </div>
        </div>
      </div>

      <div class="dot-line"></div>
    </div>

  </div>

</ng-scrollbar>

<!-- Modal -->
<div class="modal fade" id="avatarModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <!-- <h5 class="modal-title" id="avatarEditterModalCenterTitle">Tải ảnh</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &times; </button>
      </div>
      <div class="modal-body">
        <img [src]="defaultAvatar" alt="">
      </div>
      <div class="modal-footer border-0">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="resetAvatarOnClick()">Hủy</button> -->
        <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
