<div class="course-teacher-list">
  <div class="searcher-header">
    <div class="form-group row">
      <label for="inputKeyword" class="col-12 col-sm-6 col-md-4 col-lg-2 col-form-label">Tìm kiếm học sinh: </label>
      <div class="col-12 col-sm-6 col-md-8 col-lg-10">
        <input type="text" [(ngModel)]="searchKeyword" (keyup.enter)="searchOnclick()" class="form-control" id="inputKeyword"
          placeholder="Nhập mã số | tên học sinh">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="searchOnclick()">Tìm kiếm</button>
    </div>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">
    <h2 class="default-color p-2">Danh sách khóa học</h2>
    <table class="table">
      <thead class="default-color">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày kết thúc</th>
          <th scope="col">Số lượng học sinh</th>
          <th class="text-center" scope="col">Quản lý</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courseTeacherList; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td (click)="courseInfoOnClick(item.Course.CourseId)">{{item.Course.CourseName}}</td>
          <td>{{item.DateStart|date:'dd/MM/yyyy'}}</td>
          <td>{{item.DateEnd|date:'dd/MM/yyyy'}}</td>
          <td (click)="courseInfoOnClick(item.Course.CourseId)"></td>
          <td class="text-center">
            Xem
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!courseTeacherList || courseTeacherList.length == 0" class="text-center p-3">
      Không có dữ liệu!
    </div>
    <div class="col-12 text-center">
      <button type="button" class="btn btn-outline-primary">Lưu</button>
    </div>
  </div>
</div>
