<div id="login-screen">
  <div class="container-login">
    <div class="wrap-login">
      <div class="login-title">
        ĐĂNG NHẬP
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="loginOnClick()">
        <div class="form-group mb-5" [ngClass]="{'has-error':!loginForm.controls['username'].valid 
            && loginForm.controls['username'].touched}">
          <input class="form-control" type="text" [(ngModel)]="username" 
          [formControl]="loginForm.controls['username']" placeholder="Tên đăng nhập">
          <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Tên đăng nhập không được để trống.</div>
        </div>

        <div class="form-group mb-5" [ngClass]="{'has-error':!loginForm.controls['password'].valid
             && loginForm.controls['password'].touched}">
          <input class="form-control" type="password" [(ngModel)]="password"
           [formControl]="loginForm.controls['password']" placeholder="Mật khẩu">
          <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Mật khẩu không được để trống.</div>
        </div>

        <div class="text-right m-3">
          <a class="text-link" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">
            Quên mật khẩu?
          </a>
        </div>

        <div class="form-group text-center w-100 mb-5" [ngClass]="{'has-error':!loginForm.controls['recaptcha'].valid
             && loginForm.controls['recaptcha'].touched}">
          <re-captcha class="d-inline-block" [formControl]="loginForm.controls['recaptcha']" [siteKey]="reCapchaKey"></re-captcha>
          <div *ngIf="loginForm.controls['recaptcha'].hasError('required') && loginForm.controls['recaptcha'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Bạn là rổ bốt?</div>
        </div>
        
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">
            ĐĂNG NHẬP
          </button>
        </div>

        <div class="text-center mt-5 pt-5">
          <p>Chưa có tài khoản?</p>
          <a class="text-link" [routerLink]="['/register']" routerLinkActive="router-link-active">ĐĂNG KÝ NGAY</a>
        </div>
      </form>
    </div>
  </div>
</div>
