<div id="login-screen">
  <div class="container-login">
    <div class="wrap-login">
      <div class="login-title">
        ĐĂNG NHẬP
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="loginOnClick()" #captchaProtectedForm="ngForm">
        <div class="form-group mb-5" [ngClass]="{'has-error':!loginForm.controls['username'].valid 
            && loginForm.controls['username'].touched}">
          <input class="form-control" type="text" [formControl]="loginForm.controls['username']" placeholder="Tên đăng nhập">
          <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Tên đăng nhập không được để trống.</div>
        </div>

        <div class="form-group mb-5" [ngClass]="{'has-error':!loginForm.controls['password'].valid
             && loginForm.controls['password'].touched}">
          <input class="form-control" type="password" [formControl]="loginForm.controls['password']" placeholder="Mật khẩu">
          <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Mật khẩu không được để trống.</div>
        </div>

        <div class="form-group text-center mb-3">
          <re-captcha
          [(ngModel)]="formModel.captcha"
          name="captcha"
          required
          siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"
          #captchaControl="ngModel"
          ></re-captcha>
         <div *ngIf="!captchaControl.valid && captchaControl.pristine"
            class="alert text-danger">
            <i class="fa fa-exclamation-triangle"></i>
            Xác thực bằng captcha?
          </div>
          <div *ngIf="captchaControl.valid"
             class="alert text-danger">
             <i class="fa fa-exclamation-triangle"></i>
             Bạn là rô bốt?
          </div>
        </div>
        <!-- <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
        <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
        <div [hidden]="captchaProtectedForm.form.valid" class="error">The form must be filled out</div>
        <div [hidden]="!captchaProtectedForm.form.valid" class="success">The form is valid</div> -->

        <div class="text-right m-3">
          <a class="text-link" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">
            Quên mật khẩu?
          </a>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid">
            ĐĂNG NHẬP
          </button>
        </div>
        <div class="text-center mt-5 pt-5">
          <p>Chưa có tài khoản?</p>
          <a class="text-link" [routerLink]="['/register']" routerLinkActive="router-link-active">ĐĂNG KÝ NGAY</a>
        </div>
      </form>
    </div>
  </div>
</div>
