<div class="course-list">
  <div class="searcher-header">
    <div class="form-group row">
      <label for="inputKeyword" class="col-12 col-sm-6 col-md-4 col-lg-2 col-form-label">Tìm kiếm học sinh: </label>
      <div class="col-12 col-sm-6 col-md-8 col-lg-10">
        <input type="text" [(ngModel)]="searchKeyword" (keyup.enter)="searchOnclick()" class="form-control" id="inputKeyword"
          placeholder="Nhập tên khóa học">
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" (click)="searchOnclick()">Tìm kiếm</button>
    </div>
  </div>

  <div class="dot-line"></div>

  <div class="list-content">
    <h2 class="default-color p-2">Danh sách khóa học</h2>
    <div class="btn-add">
      <button type="button" class="btn btn-outline-primary" *ngIf="isTeacherLogin() || isManagerLogin()" data-toggle="modal"
        data-target="#addNewModalCenter">
        Thêm khóa học</button>
    </div>
    <table class="table">
      <thead class="default-color">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Giáo viên phụ trách</th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày kết thúc</th>
          <th scope="col">Số lượng học sinh</th>
          <th scope="col" *ngIf="isStudentLogin()">Trạng thái</th>
          <th scope="col" *ngIf="isTeacherLogin() || isManagerLogin()">Quản lý</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courseJoinedList; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td (click)="courseInfoOnClick(item.CourseId)">{{item.CourseName}}</td>
          <td>
            <p *ngFor="let item2 of item.TeacherList">
              <span (click)="teacherInfoOnClick(item2.UserId)">{{item2.UserFullName}}</span>
            </p>
          </td>
          <td>{{item.DateStart|date:'dd/MM/yyyy'}}</td>
          <td>{{item.DateEnd|date:'dd/MM/yyyy'}}</td>
          <td>{{item.NumberOfStudent}}</td>
          <td *ngIf="isStudentLogin()">
            <span class="text-link" (click)="courseInfoOnClick(item.CourseId)">Xem</span>
          </td>
          <td *ngIf="isTeacherLogin() || isManagerLogin()">
            <span class="text-link">
              <div class="btn-group dropleft" (click)="selectCourseOnClick(item)">
                <i class="fa fa-sliders" data-toggle="dropdown" style="font-size: 25px; line-height: 30px; cursor: pointer;"></i>
                <div class="dropdown-menu">
                  <div class="list-group">
                    <a class="list-group-item list-group-item-action" (click)="courseInfoOnClick(item.CourseId)">Xem</a>
                    <a class="list-group-item list-group-item-action" (click)="studentListOnClick(item)" data-toggle="modal"
                      data-target="#studentListModalCenter">Danh sách học sinh</a>
                    <a class="list-group-item list-group-item-action" (click)="teacherListOnClick(item)" data-toggle="modal"
                      data-target="#teacherListModalCenter">Danh sách giáo viên</a>
                    <a class="list-group-item list-group-item-action" (click)="currSelectedCourse = item" data-toggle="modal"
                      data-target="#updateModalCenter">Cập nhật</a>
                    <a class="list-group-item list-group-item-action" data-toggle="modal" data-target="#acceptDeleteModalCenter">Xóa</a>
                  </div>
                </div>
              </div>
            </span>
          </td>
        </tr>
        <tr *ngFor="let item of courseNotJoinedList; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td (click)="courseInfoOnClick(item.CourseId)">{{item.CourseName}}</td>
          <td>
            <p *ngFor="let item2 of item.TeacherList">
              <span (click)="teacherInfoOnClick(item2.UserId)">{{item2.UserFullName}}</span>
            </p>
          </td>
          <td>{{item.DateStart|date:'dd/MM/yyyy'}}</td>
          <td>{{item.DateEnd|date:'dd/MM/yyyy'}}</td>
          <td>{{item.NumberOfStudent}}</td>
          <td *ngIf="isStudentLogin()">
            <span class="text-link" (click)="enrollCourseOnClick(item.CourseId)">Đăng ký</span>
          </td>
          <td *ngIf="isTeacherLogin() || isManagerLogin()">
            <span class="text-link">
              <div class="btn-group dropleft" (click)="selectCourseOnClick(item)">
                <i class="fa fa-sliders" data-toggle="dropdown" style="font-size: 25px; line-height: 30px; cursor: pointer;"></i>
                <div class="dropdown-menu">
                  <div class="list-group">
                    <a class="list-group-item list-group-item-action" (click)="courseInfoOnClick(item.CourseId)">Xem</a>
                    <a class="list-group-item list-group-item-action" (click)="currSelectedCourse = item" data-toggle="modal"
                      data-target="#updateModalCenter">Cập nhật</a>
                    <a class="list-group-item list-group-item-action" (click)="studentListOnClick(item)" data-toggle="modal"
                      data-target="#studentListModalCenter">Danh sách học sinh</a>
                    <a class="list-group-item list-group-item-action" (click)="teacherListOnClick(item)" data-toggle="modal"
                      data-target="#teacherListModalCenter">Danh sách giáo viên</a>
                    <a class="list-group-item list-group-item-action" *ngIf="isManagerLogin()" data-toggle="modal"
                      data-target="#acceptDeleteModalCenter">Xóa</a>
                  </div>
                </div>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="(!courseJoinedList || courseJoinedList.length == 0) && (!courseNotJoinedList || courseNotJoinedList.length == 0)"
      class="text-center p-3">
      Không có dữ liệu!
    </div>
  </div>
</div>


<div class="modal fade" id="acceptDeleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Xóa?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có đồng ý xóa khóa học này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNewModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thêm mới khóa học</h5>
        <button type="button" #btnCloseInsert class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="courseInfoForm" (ngSubmit)="insertCourseOnClick()">
          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['courseName'].valid && courseInfoForm.controls['courseName'].touched}">
            <label>Tên khóa học: </label>
            <input class="form-control" type="text" [(ngModel)]="courseInfo.CourseName" placeholder="Khóa học"
              [formControl]="courseInfoForm.controls['courseName']" placement="top" ngbTooltip="Nhập tên khóa học.">
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('required') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập tên khóa học.</div>
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('minlength') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá ngắn.</div>
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('maxlength') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá dài.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['dateStart'].valid && courseInfoForm.controls['dateStart'].touched}">
            <label>Ngày bắt đầu: </label>
            <input class="form-control" type="date" [(ngModel)]="courseInfo.DateStart" [formControl]="courseInfoForm.controls['dateStart']"
              placement="top" ngbTooltip="Chọn ngày bắt đầu khóa học.">
            <div *ngIf="courseInfoForm.controls['dateStart'].hasError('required') && courseInfoForm.controls['dateStart'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chọn ngày bắt đầu.
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['dateEnd'].valid && courseInfoForm.controls['dateEnd'].touched}">
            <label>Ngày kết thúc dự kiến: </label>
            <input class="form-control" type="date" [(ngModel)]="courseInfo.DateEnd" placeholder="Nguyễn Văn A"
              [formControl]="courseInfoForm.controls['dateEnd']" placement="top" ngbTooltip="Chọn ngày kết thúc khóa học.">

            <div *ngIf="courseInfoForm.controls['dateEnd'].hasError('required') && courseInfoForm.controls['dateEnd'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chọn ngày kết thúc.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['tutition'].valid && courseInfoForm.controls['tutition'].touched}">
            <label>Học phí: </label>
            <input class="form-control" type="number" [(ngModel)]="courseInfo.Tutition" placeholder="0" [formControl]="courseInfoForm.controls['tutition']"
              placement="top" ngbTooltip="Nhập số tiền mỗi học sinh phải đóng để tham gia khóa học.">
            <div *ngIf="courseInfoForm.controls['tutition'].hasError('required') && courseInfoForm.controls['tutition'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập học phí.
            </div>
            <div *ngIf="courseInfo.Tutition < 0" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Sô tiền không hợp lệ.
            </div>
          </div>

          <div class="form-group">
            <label>Giới thiệu khóa học: </label>
            <input class="form-control" type="text" [(ngModel)]="courseInfo.CourseIntro" [formControl]="courseInfoForm.controls['courseIntro']"
              placement="top" ngbTooltip="Thông tin giới thiệu khóa học.">
          </div>

          <div class="form-group">
            <label>Liên kết thêm: </label>
            <input class="form-control" type="text" [(ngModel)]="courseInfo.CourseLinkRef" [formControl]="courseInfoForm.controls['courseLinkRef']"
              placement="top" ngbTooltip="Các trang web liên kết, link nhóm facebook...">
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-success m-2" [disabled]="!courseInfoForm.valid" placement="bottom"
              ngbTooltip="Nhấn để lưu.">
              Lưu
            </button>

            <button type="reset" class="btn btn-danger m-2" data-dismiss="modal" placement="top" ngbTooltip="Hủy.">
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật thông tin khóa học</h5>
        <button type="button" #btnCloseUpdate class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="courseInfoForm" (ngSubmit)="updateCourseOnClick()">
          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['courseName'].valid && courseInfoForm.controls['courseName'].touched}">
            <label>Tên khóa học: </label>
            <input class="form-control" type="text" [(ngModel)]="currSelectedCourse.CourseName" placeholder="Khóa học"
              [formControl]="courseInfoForm.controls['courseName']" placement="top" ngbTooltip="Nhập tên khóa học.">
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('required') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập tên khóa học.</div>
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('minlength') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá ngắn.</div>
            <div *ngIf="courseInfoForm.controls['courseName'].hasError('maxlength') && courseInfoForm.controls['courseName'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Tên quá dài.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['dateStart'].valid && courseInfoForm.controls['dateStart'].touched}">
            <label>Ngày bắt đầu: </label>
            <input class="form-control" type="datetime-local" [(ngModel)]="currSelectedCourse.DateStart" [formControl]="courseInfoForm.controls['dateStart']"
              placement="top" ngbTooltip="Chọn ngày bắt đầu khóa học.">
            <div *ngIf="courseInfoForm.controls['dateStart'].hasError('required') && courseInfoForm.controls['dateStart'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chọn ngày bắt đầu.
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['dateEnd'].valid && courseInfoForm.controls['dateEnd'].touched}">
            <label>Ngày kết thúc dự kiến: </label>
            <input class="form-control" type="datetime-local" [(ngModel)]="currSelectedCourse.DateEnd" placeholder="Nguyễn Văn A"
              [formControl]="courseInfoForm.controls['dateEnd']" placement="top" ngbTooltip="Chọn ngày kết thúc khóa học.">

            <div *ngIf="courseInfoForm.controls['dateEnd'].hasError('required') && courseInfoForm.controls['dateEnd'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chọn ngày kết thúc.</div>
          </div>

          <div class="form-group" [ngClass]="{'has-error':!courseInfoForm.controls['tutition'].valid && courseInfoForm.controls['tutition'].touched}">
            <label>Học phí: </label>
            <input class="form-control" type="number" [(ngModel)]="currSelectedCourse.Tutition" placeholder="0"
              [formControl]="courseInfoForm.controls['tutition']" placement="top" ngbTooltip="Nhập số tiền mỗi học sinh phải đóng để tham gia khóa học.">
            <div *ngIf="courseInfoForm.controls['tutition'].hasError('required') && courseInfoForm.controls['tutition'].touched"
              class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Chưa nhập học phí.
            </div>
            <div *ngIf="currSelectedCourse.Tutition < 0" class="alert text-danger">
              <i class="fa fa-exclamation-triangle"></i>Sô tiền không hợp lệ.
            </div>
          </div>

          <div class="form-group">
            <label>Giới thiệu khóa học: </label>
            <input class="form-control" type="text" [(ngModel)]="currSelectedCourse.CourseIntro" [formControl]="courseInfoForm.controls['courseIntro']"
              placement="top" ngbTooltip="Thông tin giới thiệu khóa học.">
          </div>

          <div class="form-group">
            <label>Liên kết thêm: </label>
            <input class="form-control" type="text" [(ngModel)]="currSelectedCourse.CourseLinkRef" [formControl]="courseInfoForm.controls['courseLinkRef']"
              placement="top" ngbTooltip="Các trang web liên kết, link nhóm facebook...">
          </div>

          <div class="form-group text-center">
            <button type="submit" class="btn btn-success m-2" [disabled]="!courseInfoForm.valid" placement="bottom"
              ngbTooltip="Nhấn để lưu.">
              Lưu
            </button>

            <button type="reset" class="btn btn-danger m-2" data-dismiss="modal" placement="top" ngbTooltip="Hủy.">
              Hủy
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="studentListModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Danh sách học sinh trong lớp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="student-list">
          <div class="searcher-header">
            <div class="form-group row">
              <label for="inputKeyword" class="col-12 col-sm-6 col-md-4 col-lg-2 col-form-label">Tìm kiếm học sinh:
              </label>
              <div class="col-12 col-sm-6 col-md-8 col-lg-10">
                <input type="text" [(ngModel)]="searchKeywordStudentList" (keyup.enter)="searchStudentListOnclick()"
                  class="form-control" id="inputKeyword" placeholder="Nhập mã số | tên học sinh">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" (click)="searchStudentListOnclick()">Tìm kiếm</button>
            </div>
          </div>

          <div class="dot-line"></div>

          <div class="list-content">
            <table class="table">
              <thead class="default-color">
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã số</th>
                  <th scope="col">Họ tên</th>
                  <th class="text-center" scope="col">Khóa học đã tham gia</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of studentJoinedList; let i = index;">
                  <th scope="row">{{i + 1}}</th>
                  <td (click)="userInfoOnClick(item.UserId)">{{item.IdentificationCode}}</td>
                  <td (click)="userInfoOnClick(item.UserId)">{{item.UserFullName}}</td>
                  <td class="text-center">
                    <span class="text-link" (click)="listCourseOnClick(item.UserId)">Xem</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!studentJoinedList || studentJoinedList.length == 0" class="text-center p-3">
              Không có dữ liệu!
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="teacherListModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Danh sách giáo viên quản lý khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="student-list">
          <div class="searcher-header">
            <div class="form-group row">
              <label for="inputKeyword" class="col-12 col-sm-6 col-md-4 col-lg-2 col-form-label">Tìm kiếm giáo viên:
              </label>
              <div class="col-12 col-sm-6 col-md-8 col-lg-10">
                <input type="text" [(ngModel)]="searchKeywordTeacherList" (keyup.enter)="searchTeacherListOnClick()"
                  class="form-control" id="inputKeyword" placeholder="Nhập mã số | tên giáo viên">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" (click)="searchTeacherListOnClick()">Tìm kiếm</button>
            </div>
          </div>

          <div class="dot-line"></div>

          <div class="list-content">
            <table class="table">
              <thead class="default-color">
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Mã số</th>
                  <th scope="col">Họ tên</th>
                  <th class="text-center" scope="col">Khóa học đang quản lý</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of currSelectedCourse.TeacherList; let i = index;">
                  <th scope="row">{{i + 1}}</th>
                  <td (click)="userInfoOnClick(item.UserId)">{{item.IdentificationCode}}</td>
                  <td (click)="userInfoOnClick(item.UserId)">{{item.UserFullName}}</td>
                  <td class="text-center">
                    <span class="text-link" (click)="listCourseOnClick(item.UserId)">Xem</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="!currSelectedCourse.TeacherList || currSelectedCourse.TeacherList.length == 0" class="text-center p-3">
              Không có dữ liệu!
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
