.course-list {
  border: 1px dashed #63a4cfdb;
  padding: 10px;
  border-radius: 10px;
}

.dot-line {
  background: url('../../../../assets/img/dot.png') left top repeat-x;
  height: 30px;
}

.list-group-item {
  border: 1px dashed #63a4cfdb;
}

td:not(.text-center) {
  color: #943b21;
  cursor: pointer;
}

@media (min-width: 576px) {
  .list-content>h2 {
    float: left;
  }

  .list-content>.btn-add {
    float: right;
    margin-top: 15px;
  }
}


.fa.fa-sliders {
  font-size: 24px;
}

.fa.fa-sliders:hover {
  font-size: 30px !important;
}
