/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

@media (pointer: coarse) and (hover: none) {
  body {
    /* background: url("./assets//home-page/bg-mobile-fallback.jpg") #002E66 no-repeat center center scroll; */
    background-position: cover;
  }
}

* {
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

.text-link {
  cursor: pointer;
  color: #63a4cfdb !important;
  text-decoration: none !important;
}

a {
  cursor: pointer;
}

.default-color {
  color: #63a4cfdb;
}

.default-fontsize {
  font-size: 13px;
}

.dropdown-menu.show {
  padding: 0;
}

/* validation notice */
.form-group .alert {
  position: absolute;
  right: 0;
}
